/cache
/results
/stanford-tregex-2020-11-17
/tptp
/vampire-4.9casc2024
/_tmp*
*.txt
*.html
/dict
/baseline
/baseline_results
/jsem_plain
/jsem_templates
/baseline_new
/en_results

# temp files
/eval.py
/rte.sh
/scripts/old_rte.sh
/change_tags.py
/nltk2tptp.py
/*.xml
/*.ptb
/ctree.sh
/treg.sh
/tsurg.sh
*.html